.container
  button#back.round-button.blur
  .center
    form#dynamic
      .wrap
        .question
        .answer
  .remaining
    
a(href="https://otcexchange.company" target="_blank").sig OTC EXCHANGE
